.deck-view-commander-img {
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px 20px 20px;
    float: left;
}
.commanders-in-deck-view {
    background-color: fff;
    padding: 20px;
    margin: 20px 70px 50px 20px;
    float: left;
    width: 100%;
}
.mana-val-column-in-deck {
    background-color: #fff;
    width: min-content;
    float: left;
    padding: 20px 10px 300px 10px;
}
.mana-val-column-in-deck:hover {
    padding-bottom: 60px;
}
.in-deck-card-image {
    position: sticky;
    height: 40px;
    min-width: 0px;
    z-index: 1;
}
.deck-view-card-price {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    font-weight: bold;
    color: #00000085;
    margin-top: -65px;
    margin-left: 65px;
}
.add-basic-lands-button {
    clear: both;
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 25px;
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px 20px 20px;
    width: fit-content;
    height: fit-content;
    float: left;
    cursor: pointer;
}
.add-basic-lands-button:hover {
    background-color: #ddd;
}
.add-basic-lands-form {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 25px;
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 0px 5px 20px;
    margin: 20px 10px 20px 20px;
    width: fit-content;
    height: fit-content;
    float: left;
    display: none;
}
.add-basic-lands-form button {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid #334400;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
}
.add-basic-lands-form button:hover {
    background-color: #ddd;
}
.add-basic-lands-reset-button {
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px 20px 20px;
    float: left;
    cursor: pointer;
}
.add-basic-lands-reset-button:hover {
    background-color: #ddd;
}
.add-basic-lands-submit-button {
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px 20px 20px;
    float: left;
    cursor: pointer;
}
.add-basic-lands-submit-button:hover {
    background-color: #ddd;
}
.add-basic-lands-image {
    text-align: center;
    float: left;
    margin: 2px;
}
.add-basics-snow-button {
    background-image: url(/static/snow40.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.in-search-card-img {
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    float: left;
}
.card-name-search {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 20px;
    font-weight: bold;
    color: #334400;
}
.card-price-search {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 20px;
    font-weight: bold;
    color: #334400;
}

.in-page-card-img {
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 10px 20px 0px 10px;
    float: left;
}
.in-page-card-name {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 40px;
    font-weight: bold;
    color: #334400;
    padding-left: 470px;
}
.in-page-card-type {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    font-weight: bold;
    color: #334400;
    padding-left: 490px;
}
.in-page-card-text {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 20px;
    font-weight: bold;
    color: #334400;
    padding-left: 510px;
}
.in-page-card-price {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    font-weight: bold;
    color: #334400;
    padding-left: 470px;
}
.card-page-default-box {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 18px;
}


.add-to-collection-form {
    display: none;
}
.add-to-collection-add-button {
    margin-left: 5px;
    margin-top: 4px;
}
.add-to-deck-form {
    display: none;
}
.add-to-deck-add-button {
    margin-left: 5px;
    margin-top: 4px;
}


.search-loading-div {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    font-weight: bold;
}
.flip-image-button {
    background-color: #334400;
    border: 1px solid #334400;
    border-radius: 5px;
    color: #fff;
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    float: left;
}

.mana-cost-symbol {
    background-repeat: no-repeat;
        display: inline-block;
    margin: 5px 1px -1px 1px;
    border-radius: 500px;
    box-shadow: -1px 1px 0 rgb(0 0 0 / 85%);
    text-indent: -999em;
    width: 25px;
    height: 25px;
}
.text-symbol {
    background-repeat: no-repeat;
        display: inline-block;
    margin: 1px 1px -1px 1px;
    border-radius: 500px;
    box-shadow: -1px 1px 0 rgb(0 0 0 / 85%);
    text-indent: -999em;
    width: 18px;
    height: 18px;
}
.symbol-W {
    background-image: url(/static/symbols/W.svg);
}
.symbol-U {
    background-image: url(/static/symbols/U.svg)
}
.symbol-B {
    background-image: url(/static/symbols/B.svg)
}
.symbol-R {
    background-image: url(/static/symbols/R.svg)
}
.symbol-G {
    background-image: url(/static/symbols/G.svg)
}


.symbol-WorU {
    background-image: url(/static/symbols/WorU.svg)
}
.symbol-WorB {
    background-image: url(/static/symbols/WorB.svg)
}
.symbol-RorW {
    background-image: url(/static/symbols/RorW.svg)
}
.symbol-GorW {
    background-image: url(/static/symbols/GorW.svg)
}
.symbol-UorR {
    background-image: url(/static/symbols/UorR.svg)
}
.symbol-GorU {
    background-image: url(/static/symbols/GorU.svg)
}
.symbol-BorR {
    background-image: url(/static/symbols/BorR.svg)
}
.symbol-BorG {
    background-image: url(/static/symbols/BorG.svg)
}
.symbol-RorG {
    background-image: url(/static/symbols/RorG.svg)
}


.symbol-2orW {
    background-image: url(/static/symbols/2orW.svg)
}
.symbol-2orU {
    background-image: url(/static/symbols/2orU.svg)
}
.symbol-2orB {
    background-image: url(/static/symbols/2orB.svg)
}
.symbol-2orR {
    background-image: url(/static/symbols/2orR.svg)
}
.symbol-2orG {
    background-image: url(/static/symbols/2orG.svg)
}


.symbol-WorP {
    background-image: url(/static/symbols/WorP.svg);
}
.symbol-UorP {
    background-image: url(/static/symbols/UorP.svg)
}
.symbol-BorP {
    background-image: url(/static/symbols/BorP.svg)
}
.symbol-RorP {
    background-image: url(/static/symbols/RorP.svg)
}
.symbol-GorP {
    background-image: url(/static/symbols/GorP.svg)
}
.symbol-GorUorP {
    background-image: url(/static/symbols/GorUorP.svg)
}


.symbol-0 {
    background-image: url(/static/symbols/0.svg)
}
.symbol-1 {
    background-image: url(/static/symbols/1.svg)
}
.symbol-2 {
    background-image: url(/static/symbols/2.svg)
}
.symbol-3 {
    background-image: url(/static/symbols/3.svg)
}
.symbol-4 {
    background-image: url(/static/symbols/4.svg)
}
.symbol-5 {
    background-image: url(/static/symbols/5.svg)
}
.symbol-6 {
    background-image: url(/static/symbols/6.svg)
}
.symbol-7 {
    background-image: url(/static/symbols/7.svg)
}
.symbol-8 {
    background-image: url(/static/symbols/8.svg)
}
.symbol-9 {
    background-image: url(/static/symbols/9.svg)
}
.symbol-10 {
    background-image: url(/static/symbols/10.svg)
}
.symbol-11 {
    background-image: url(/static/symbols/11.svg)
}
.symbol-12 {
    background-image: url(/static/symbols/12.svg)
}
.symbol-13 {
    background-image: url(/static/symbols/13.svg)
}
.symbol-14 {
    background-image: url(/static/symbols/14.svg)
}
.symbol-15 {
    background-image: url(/static/symbols/15.svg)
}
.symbol-16 {
    background-image: url(/static/symbols/16.svg)
}
.symbol-20 {
    background-image: url(/static/symbols/20.svg)
}

.symbol-X {
    background-image: url(/static/symbols/X.svg)
}
.symbol-C {
    background-image: url(/static/symbols/C.svg)
}
.symbol-S {
    background-image: url(/static/symbols/S.svg)
}
.symbol-T {
    background-image: url(/static/symbols/T.svg)
}
.symbol-Q {
    background-image: url(/static/symbols/Q.svg)
}

.add-to-collection-box-name{
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    color: #000;
    background-color: #fff;
    margin-left: 500px;
    float: top;
}

.in-page-box-description{
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    color: #000;
    background-color: #fff;
    margin-left: 80px;
    float: top;
}
.in-page-box-name{
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 60px;
    color: #000;
    background-color: #fff;
    margin: 50px 50px 30px 50px;
    float: top;
}
.box-total-price{
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    color: #000;
    background-color: #fff;
    margin-left: 80px;
    float: top;
}


.deck-in-boxes-view {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    user-select: none;
    color: #000;
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 50px;
    margin: 10px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box-in-boxes-view {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    user-select: none;
    color: #000;
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 50px;
    margin: 10px;
    float: left;
}
.deck-in-boxes-view:hover{
    background-color: #ddd;
}
.box-in-boxes-view:hover{
    background-color: #ddd;
}
.box-in-copies-view:hover{
    background-color: #ddd;
}
.add-box-button-in-boxes-view {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    user-select: none;
    color: #014a0a;
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 50px;
    margin: 10px;
    float: left;
}
.add-box-button-in-boxes-view:hover {
    background-color: rgb(157 255 178 / 55%);
}
.add-box-form {
    display: none;
    padding: 100px
}
.W-box {
    background-color: #edefb490;
}
.W-box:hover{
    background-color: #edefb4;
}
.U-box {
    background-color: #c2cfff90;
}
.U-box:hover{
    background-color: #c2cfff;
}
.B-box {
    background-color: #5a5a5a90;
}
.B-box:hover{
    background-color: #5a5a5a;
}
.R-box {
    background-color: #ff6b6b90;
}
.R-box:hover{
    background-color: #ff6b6b;
}
.G-box {
    background-color: #73ff7390;
}
.G-box:hover{
    background-color: #73ff73;
}
.M-box {
    background-color: #ffc80090;
}
.M-box:hover{
    background-color: #ffc800;
}
.C-box {
    background-color: #bdbdbd90;
}
.C-box:hover{
    background-color: #bdbdbd;
}
.edit-copies-button {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 40px;
    user-select: none;
    color: #a52527;
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 50px 70px 50px 70px;
    margin: 20px;
    float: left;
}
.edit-copies-button:hover {
    background-color: rgb(250 200 200 / 55%);
}
.change-copy-status-form {
    display: none;
}
.card-box-in-copies-view {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 40px;
    text-align: center;
}
.box-in-copies-view {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 40px;
    user-select: none;
    color: #000;
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    float: left;
}
.remove-card-accept-div {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 20px;
    color: #bf0000;
    display: none;
}
.move-box-accept-div {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 20px;
    display: none;
}

.set-deck-bg-to-commander-img-btn {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 20px;
    border: 1px solid #334400;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    float: left;
    cursor: pointer;
}
.set-deck-bg-to-commander-img-btn:hover {
    background-color: #ddd;
}
.set-deck-bg-to-commander-img-succeed {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 20px;
    color: #000;
    float: left;
    margin: 20px;
}
.set-deck-bg-to-commander-img-form {
    float: left;
    margin: 0px 20px 20px 20px;
    clear: both;
    display: none;
}
.set-deck-bg-to-commander-img-accept-btn {
    margin: 3px;
}
.set-deck-bg-to-commander-img-cancel-btn {
    margin: 3px;
}
.deck-view-column-title {
    font: bold 20px/30px Helvetica, Sans-Serif;
    font-size: 30px;
    color: #000;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    float: top;
}

