<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Box - {{ box_name }}</title>
</head>
<body>
    <a href="/home">
        <button type="Home">Home</button>
    </a>
    <form action="/search/in_collection" method="get">
        <input type="text" name="name" placeholder="search in collection">
        <input type="submit" value="Search">
    </form>
    <div class="in-page-box-name">{{ box_name }}</div>
    <div class="in-page-box-description">{{ box_description }}</div>
    {% for card in cards %}
        <div class="in_search_card_img">
            <a href="/card/{{ card['card'].collector_num }}/{{ card['card'].edition }}"><img title="{{ card['card'].name }}" src="{{ card['card'].img_url }}" width="200"></a>
            <p class="card_name_search">{{ card['card'].name }}</p>
            {% if card['is_foil'] and card['card'].foil_price != -1 %}
                <p class="card_price_search">foil : {{ card['card'].foil_price }}$</p>
            {% elif card['card'].nonfoil_price != -1 %}
                <p class="card_price_search">{{ card['card'].nonfoil_price }}$</p>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>