<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ front_card.name }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function flip_card_img() {
            var img = $("#card_img");
            if (img.attr('src').includes("front")) {
                img.attr('src', img.attr('src').replace("front", "back"));
            } else {
                img.attr('src', img.attr('src').replace("back", "front"));
            }
        }

        function show_or_hide_object(object_id) {
            $("#" + object_id).toggle("slow");
        }

        function get_checkbox_val(checkbox_id) {
            return $("#" + checkbox_id).prop("checked");
        }

        function get_textbox_val(textbox_id) {
            return $("#" + textbox_id).val();
        }

        function add_to_collection(edition, collector_num, is_foil) {
            var box = $("#card_default_box").val();
            $.ajax({
                type: "GET",
                url: `/add_to_cards_collection/${edition}/${collector_num}/${box.replace('#','%23')}/${is_foil}`,
                success: function (resp) {
                    $("#card_box_name").text(`Card added to box - ${resp}`);
                }
            });
            $("#add_to_collection_form").toggle("slow");
        }

        function add_to_deck(edition, collector_num, box, is_foil, is_commander) {
            $.ajax({
                type: "GET",
                url: `/add_to_deck/${edition}/${collector_num}/${box}/${is_foil}/${is_commander}`,
                success: function (resp) {
                    $("#card_box_name").text(`Card added to deck - ${resp}`);
                }
            });
            $("#add_to_deck_form").toggle("slow");
        }

        function update_default_box () {
            var card_type = '{{ front_card.type }}';
            var color_id = '{{ front_card.color_identity }}';
            var is_foil = get_checkbox_val("add_to_collection_foil_checkbox");
            var nonfoil_price = '{{ front_card.nonfoil_price }}';
            var foil_price = '{{ front_card.foil_price }}';
            $.ajax({
                type: "GET",
                url: `/get_box_for_card/${card_type}/${color_id}/${is_foil}/${nonfoil_price}/${foil_price}`,
                success: function (resp) {
                    if (resp != 'false') {
                        $("#card_default_box").text(`Default box - ${resp}`);
                        $("#card_default_box").val(resp);
                    }
                }
            });
        }

        function update_card () {
            $.ajax({
                type: "GET",
                url: "/update_card/{{ front_card.edition }}/{{ front_card.collector_num[1:] }}",
                success: function (resp) {
                    location.reload();
                }
            });
        }

        $(document).ready(function () {
            update_default_box();
            $("#add_to_collection_foil_checkbox").on('change', function () {
                update_default_box();
            });
        });
    </script>
</head>
<body>
    <a href="/home">
        <button type="Home">Home</button>
    </a>
    <form action="/search/in_collection" method="get">
        <input type="text" name="name" placeholder="search in collection">
        <input type="submit" value="Search">
    </form>
    <br>
    <form action="/search" method="get">
        <input type="text" name="name" placeholder="search for any card">
        <input type="submit" value="Search">
    </form>

    <div class="in-page-card-img">
        <img id="card_img" title="{{ front_card.name }}" src="{{ front_card.img_url }}" width="400">
    </div>

    {% for card in [front_card, back_card] %}
        {% if card %}
            {% for mana in card.mana_cost.split(' ') %}
                {% if mana != '' %}
                    <div class="mana-cost-symbol symbol-{{ mana.replace('/', 'or') }}" title="one {{ mana }} mana">{{ mana }}</div>
                {% endif %}
            {% endfor %}
            <p class="in-page-card-name">{{ card.name }}</p>
            <p class="in-page-card-type">{{ card.type }}</p>
            <p class="in-page-card-text">
                {% for pile in card.text_list %}
                    {% if pile[0] == '/' and pile[-1] == '/' %}
                        <svg class="text-symbol symbol-{{ pile[1:-1] }}" title="one {{ mana }} mana">{{ mana }}</svg>
                    {% else %}
                        {% for paragraph in pile.split('\n') %}
                            {{ paragraph }}
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </p>
            <div><br></div>
        {% endif %}
    {% endfor %}

    {% if back_card %}
        <button class="flip-image-button" onclick="flip_card_img()">Flip</button>
    {% endif %}
    {% if front_card.nonfoil_price != -1 %}
        <p class="in-page-card-price">price : {{ front_card.nonfoil_price }}$</p>
    {% endif %}
    {% if front_card.foil_price != -1 %}
        <p class="in-page-card-price">foil price : {{ front_card.foil_price }}$</p>
    {% endif %}

    <button class="update-card-button" onclick="update_card()">Update card</button>

    <a href="/card/all-versions/{{ front_card.url_name }}">
        <button type="button">Show all versions</button>
    </a>
    <a href="/card-copies/{{ front_card.name }}">
        <button type="button">Show all copies</button>
    </a>
    <br><br>
    <button type="button" onclick="show_or_hide_object('add_to_collection_form')">Add to my collection</button>
    <button type="button" onclick="show_or_hide_object('add_to_deck_form')">Add to deck</button>
    <br><br>
    <div id="add_to_collection_form" class="add-to-collection-form">
        <div id="card_default_box" class="card-page-default-box">Default Box</div>
        <label class="add-to-collection-foil-checkbox">Foil
            <input id="add_to_collection_foil_checkbox" type="checkbox">
            <span class="add-to-collection-foil-checkbox-checkmark"></span>
        </label>
        <button class=add-to-collection-add-button" type="button" onclick="add_to_collection('{{ front_card.edition }}', '{{ front_card.collector_num }}', get_checkbox_val('add_to_collection_foil_checkbox'))">Add</button>
    </div>

    <div id="add_to_deck_form" class="add-to-deck-form">
        <label class="add-to-deck-name-input">
            <input id="deck_name_input" type="text" placeholder="deck name" list="decks">
            <datalist id="decks">
                {% for deck in decks %}
                    <option value="{{ deck['name'] }}">
                {% endfor %}
            </datalist>

        </label>
        <br><br>
        <label class="add-to-deck-foil-checkbox">Foil
            <input id="add_to_deck_foil_checkbox" type="checkbox">
            <span class="add-to-deck-foil-checkbox-checkmark"></span>
        </label>
        <label class="add-to-deck-commander-checkbox">Commander
            <input id="add_to_deck_commander_checkbox" type="checkbox">
            <span class="commander-checkbox-checkmark"></span>
        </label>
        <button class="add-to-deck-add-button" type="button" onclick="add_to_deck('{{ front_card.edition }}', '{{ front_card.collector_num }}', get_textbox_val('deck_name_input'), get_checkbox_val('add_to_deck_foil_checkbox'), get_checkbox_val('add_to_deck_commander_checkbox'))">Add</button>
    </div>
    <div id="card_box_name" class="add-to-collection-box-name"></div>
</body>
</html>