<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ front_card.name }}</title>
    <script>
        function flip_card_img() {
            var img = document.getElementById("card_img");
            if (img.src.includes("front")) {
                img.src = img.src.replace("front", "back");
            } else {
                img.src = img.src.replace("back", "front");
            }
        }

    </script>
</head>
<body>
    <a href="/home">
        <button type="Home">Home</button>
    </a>
    <form action="/search" method="get">
        <input type="text" name="name" placeholder="card name">
        <input type="submit" value="Search">
    </form>

    <div class="in_page_card_img">
        <img id="card_img" title={{ front_card.name }} src={{ front_card.img_url }} width="400">
    </div>

    {% for card in [front_card, back_card] %}
        {% if card %}
            {% for mana in card.mana_cost.split(' ') %}
                {% if mana != '' %}
                    <div class="mana-cost-symbol symbol-{{ mana.replace('/', 'or') }}" title="one {{ mana }} mana">{{ mana }}</div>
                {% endif %}
            {% endfor %}
            <p class="in_page_card_name">{{ card.name }}</p>
            <p class="in_page_card_type">{{ card.type }}</p>
            <p class="in_page_card_text">
                {% for pile in card.text_list %}
                    {% if pile[0] == '/' and pile[-1] == '/' %}
                        <svg class="text-symbol symbol-{{ pile[1:-1] }}" title="one {{ mana }} mana">{{ mana }}</svg>
                    {% else %}
                        {% for paragraph in pile.split('\n') %}
                            {{ paragraph }}
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </p>
            <div><br></div>
        {% endif %}
    {% endfor %}
    {% if back_card %}
        <button class="flip-image-button" onclick="flip_card_img()">Flip</button>
    {% endif %}
    <p class="in_page_card_price">price : {{ front_card.price }}$</p>
    <a href="/card/all-versions/{{ front_card.url_name }}">
        <button type="button">Show all versions</button>
    </a>
</body>
</html>