<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>{{ card_name }}</title>
    <script >
        $(document).ready(function() {
            if ('{{ updated }}' === 'false') {
                $.ajax({
                    beforeSend: function() {
                        $("#loadingDiv").text("loading...");
                    },
                    type: "GET",
                    url: '/update_db_with_card_versions/{{ card_url_name }}',
                    success: function (resp) {
                        location = '/card/all-versions/{{ card_url_name }}?updated=true';
                        $("#loadingDiv").text(" ");
                    }
                });
            }

            if ({{ page }} < {{ pages|length }}) {
                $(".next-page-button").click( function () {
                    location = "/search?name={{keyword}}&updated={{ updated }}&page={{page+1}}";
                    });
                $(".next-page-button").css("cursor", "pointer")
                $(".next-page-button").css("color", "#000")
                $(".next-page-button").hover( function () {
                    $(this).style("background-color: #ddd;")
                    });
            }
            if ({{ page }} > 1 ) {
                $(".prev-page-button").click( function () {
                    location = "/search?name={{keyword}}&updated={{ updated }}&page={{page-1}}";
                    });
                $(".prev-page-button").css("cursor", "pointer")
                $(".prev-page-button").css("color", "#000")
                $(".prev-page-button").hover( function () {
                    $(this).style("background-color: #ddd;")
                    });
            }
        });
    </script>
</head>
<body>
    <a href="/home">
        <button type="Home">Home</button>
    </a>
    <form action="/search/in_collection" method="get">
        <input type="text" name="name" placeholder="search in collection">
        <input type="submit" value="Search">
    </form>
    <div class="in-page-card-name">{{ card_name }} - All Versions</div>
    <div id="loadingDiv" class="search-loading-div"></div>
    {% if pages[0]|length > 0 %}
        <div class="search-cards-num">{{ cards_num }} cards found</div>
        <div class="search-current-page">page {{ page }} of {{ pages|length }} pages</div>
    {% else %}
        <div class="search-cards-num">No cards found</div>
    {% endif %}
    {% for card in pages[page-1] %}
        <div class="in-search-card-img">
            <a href="/card/{{ card.collector_num }}/{{ card.edition }}"><img title={{ card.name }} src={{ card.img_url }} width="200"></a>
            <p class="card-name-search">{{ card.name }}</p>
            {% if card.nonfoil_price != -1 %}
                <p class="card-price-search">{{ card.nonfoil_price }}$</p>
            {% elif card.foil_price != -1 %}
                <p class="card-price-search">foil : {{ card.foil_price }}$</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="prev-page-button">< Previous Page</div>
    <div class="next-page-button">Next Page ></div>
</body>
</html>