<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Deck - {{ deck_name }}</title>
</head>
<body>
    <a href="/home">
        <button type="Home">Home</button>
    </a>
    <form action="/search/in_collection" method="get">
        <input type="text" name="name" placeholder="search in collection">
        <input type="submit" value="Search">
    </form>
    <div class="in-page-box-name">{{ deck_name }}</div>
    <div class="in-page-box-description">{{ deck_description }}</div>
    {% for card in commanders %}
        <div class="deck_view_commander_img">
            <a href="/card/{{ card.collector_num }}/{{ card.edition }}"><img title={{ card.name }} src="{{ card.img_url }}" width="400"></a>
            <p class="card_name_search">{{ card.name }}</p>
            {% if card.nonfoil_price != -1 %}
                <p class="card_price_search">{{ card.nonfoil_price }}$</p>
            {% elif card.foil_price != -1 %}
                <p class="card_price_search">foil : {{ card.foil_price }}$</p>
            {% endif %}
        </div>
    {% endfor %}
    {% for card in cards %}
        <div class="in_search_card_img">
            <a href="/card/{{ card.collector_num }}/{{ card.edition }}"><img title={{ card.name }} src={{ card.img_url }} width="200"></a>
            <p class="card_name_search">{{ card.name }}</p>
            {% if card.nonfoil_price != -1 %}
                <p class="card_price_search">{{ card.nonfoil_price }}$</p>
            {% elif card.foil_price != -1 %}
                <p class="card_price_search">foil : {{ card.foil_price }}$</p>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>