<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Magic: The Gathering Collection Manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function show_or_hide_add_box_form() {
            var add_box_form = document.getElementById("add_box_form");
            if (add_box_form.style.display != "block") {
                add_box_form.style.display = "block";
            } else {
                add_box_form .style.display = "none";
            }
        }


        function add_box_from_form_inputs () {
            var name = document.getElementById("box_name_input").value
            var box_type = document.getElementById("box_type_input").value
            var description = document.getElementById("box_description_input").value
            $.ajax({
                type: "GET",
                url: `/add_box/${name}/${box_type}?description=${description}`,
                success: function () {
                    location = location;
                }
            });
        }
    </script>
</head>
<body>
    <form action="/search/in_collection" method="get">
        <input type="text" name="name" placeholder="search in collection">
        <input type="submit" value="Search">
    </form>
    <br>
    <form action="/search" method="get">
        <input type="text" name="name" placeholder="search for any card">
        <input type="submit" value="Search">
    </form>
    <div>
    {% for deck_name in decks %}
        <a href="/deck/{{ deck_name }}">
            <div class="deck-in-boxes-view">
                {{ deck_name }}
            </div>
        </a>
    {% endfor %}
    </div>
    <div style="clear: both;">
    {% for box_name in non_deck_boxes %}
        <a href="/box/{{ box_name }}">
            <div class="box-in-boxes-view">
                {{ box_name }}
            </div>
        </a>
    </div>
    {% endfor %}
    <div style="cursor: pointer;" onclick="show_or_hide_add_box_form()" class="add-box-button-in-boxes-view">
        Add +
    </div>

    <div id="add_box_form" class="add_box_form">
        <label class="add-box-name-input">
            <input id="box_name_input" type="text" placeholder="box name">
        </label>
        <br><br>
        <label class="add-box-type-input">
            <input id="box_type_input" placeholder="box type" list="boxes">
            <datalist id="boxes">
                <option value="box">
                <option value="deck">
            </datalist>
        </label>
        <br><br>
        <label class="add-box-description-input">
            <input id="box_description_input" type="text" placeholder="description">
        </label>
        <button class="add-box-add-button" type="button" onclick="add_box_from_form_inputs()">Add</button>
    </div>
</body>
</html>