<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Magic: The Gathering Collection Manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function show_or_hide_add_box_form() {
            $("#add_box_form").toggle();
        }

        function add_box_from_form_inputs () {
            var name = $("#box_name_input").val();
            var box_type = $("#box_type_input").val();
            var description = $("#box_description_input").val();
            if (name == "") {
                $("#box_name_input").attr('placeholder', 'Enter box name');
            }
            if (box_type == "") {
                $("#box_type_input").attr('placeholder', 'Enter box type');
            }
            if (name != ""  && box_type != "") {
                $.ajax({
                    type: "GET",
                    url: `/add_box/${name}/${box_type}?description=${description}`,
                    success: function () {
                        location = location;
                    }
                });
            }
        }

        $(document).ready(function() {
            $('.deck-in-boxes-view').mouseover(function() {
                $(this)[0].style['background-image'] = $(this)[0].style['background-image'].replaceAll('rgba(255, 255, 255, 0.4)', 'rgba(255, 255, 255, 0.6)');
            });
            $('.deck-in-boxes-view').mouseout(function() {
                $(this)[0].style['background-image'] = $(this)[0].style['background-image'].replaceAll('rgba(255, 255, 255, 0.6)', 'rgba(255, 255, 255, 0.4)');
            });

        });
    </script>
</head>
<body>
    <form action="/search/in_collection" method="get">
        <input type="text" name="name" placeholder="search in collection">
        <input type="submit" value="Search">
    </form>
    <br>
    <form action="/search" method="get">
        <input type="text" name="name" placeholder="search for any card">
        <input type="submit" value="Search">
    </form>
    <div>
    {% for deck in decks %}
        <a href="/deck/{{ deck['name'] }}">
            <div class="deck-in-boxes-view" style="background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url({{ deck['background'] }});">
                {{ deck['name'] }}
            </div>
        </a>
    {% endfor %}
    </div>
    <div style="clear: both;">
    {% for box in non_deck_boxes %}
        <a href="/box/{{ box['name'] }}">
            <div class="box-in-boxes-view {{ box['name'][0] }}-box">
                {{ box['name'] }}
            </div>
        </a>
    </div>
    {% endfor %}
    <div style="cursor: pointer;" onclick="show_or_hide_add_box_form()" class="add-box-button-in-boxes-view">
        Add +
    </div>

    <div id="add_box_form" class="add_box_form">
        <label class="add-box-name-input">
            <input id="box_name_input" type="text" placeholder="box name">
        </label>
        <br><br>
        <label class="add-box-type-input">
            <select id="box_type_input" placeholder="box type">
                <option value="box">box</option>
                <option value="deck">deck</option>
            </select>
        </label>
        <br><br>
        <label class="add-box-description-input">
            <input id="box_description_input" type="text" placeholder="description">
        </label>
        <button class="add-box-add-button" type="button" onclick="add_box_from_form_inputs()">Add</button>
    </div>
</body>
</html>