<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Search</title>
    <script >
        $(document).ready(function() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            $("#search_in_browser_input").val(urlParams.get('name'));

            if ('{{ updated }}' === 'false') {
                $.ajax({
                    beforeSend: function() {
                        $("#loadingDiv").text("loading...");
                    },
                    type: "GET",
                    url: '/update_db_with_search_res/{{ keyword.replace("'", "%27").replace("&", "%26") }}',
                    success: function (resp) {
                        if (resp == 'changed') {
                            location = '/search?name={{ keyword.replace("'", "%27").replace("&", "%26") }}&updated=true';
                        }
                        $("#loadingDiv").text(" ");
                    }
                });
            }
        });
    </script>
</head>
<body>
    <a href="/home">
        <button type="Home">Home</button>
    </a>
    <form action="/search/in_collection" method="get">
        <input type="text" name="name" placeholder="search in collection">
        <input type="submit" value="Search">
    </form>
    <br>
    <form action="/search" method="get">
        <input id="search_in_browser_input" type="text" name="name" placeholder="search for any card">
        <input type="submit" value="Search">
    </form>
    <div id="loadingDiv" class="search-loading-div"></div>
    {% for card in cards %}
        <div class="in-search-card-img">
            <a href="/card/{{ card.collector_num[1:] }}/{{ card.edition }}"><img title="{{ card.name }}" src="{{ card.img_url }}" width="200"></a>
            <p class="card-name-search">{{ card.name }}</p>
            {% if card.nonfoil_price != -1 %}
                <p class="card-price-search">{{ card.nonfoil_price }}$</p>
            {% elif card.foil_price != -1 %}
                <p class="card-price-search">foil : {{ card.foil_price }}$</p>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>